@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в SimpleCRM</h1>
    <p>Это простая система управления обращениями. Используйте меню для навигации.</p>
</div>